In [45]:
#!pip install psycopg2-binary
from sqlalchemy import create_engine
from fsl import password
engine = create_engine(f'postgresql://pgadmin4:{password}@localhost:5432/SQLHomework')
connection = engine.connect()
import pandas as pd
#username:password@host

postgresql://pgadmin4:anthmeomychW3@localhost:5432/SQLHomework

In [8]:
#merge salary with title based on employee
#average salary by title

data = pd.read_sql("SELECT * FROM title", connection) 
data2 = pd.read_sql("SELECT * FROM salary", connection) 

data.head()
data2.head()

NameError: name 'pd' is not defined